.wrapper__button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.col {
  width: 90px;
  max-width: 90px;
  height: 90px;
  max-height: 90px;
}

.container__card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  max-height: 90px;
  height: 90px;
  width: 90px;
  max-width: 90px;
  border-radius: 10px;
  color: #fff;
}

.back {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: var(--backgroundColor-orange);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container__card:hover .front,
.container__card:hover .back {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.back::after {
  position: relative;
  content: "";
}

.levels-back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.levels-front {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  color: var(--grey-700);
  text-transform: uppercase;
}

.inner p {
  font-size: var(--fontSize);
}

.container__card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container__card .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container__card:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container__card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (width >= 640px) {
  .col {
    width: 80px;
    max-width: 90px;
    height: 80px;
    max-height: 90px;
  }
  .front,
  .back,
  .front--side,
  .back--side {
    max-height: 90px;
    height: 80px;
    width: 80px;
    max-width: 90px;
  }
}
